<!doctype html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/c08589246e.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div class="container">
            <!-- HEADER -->
            <div class="page-header text-center" id="header">
                <h1><i class="fas fa-user-circle"></i></span> Profile Page</h1>
                <a href="/logout" class="btn btn-warning btn-lg">Logout</a>
                <% if (user.admin) { %>
                    <a href="/admin" class="btn btn-warning btn-lg">Admin panel</a>
                <% } %>
            </div>
            <div class="row">
                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6" id="cadre">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> Local</h3>

                        <% if (user.local.email) { %>
                            <p>
                                <strong>email</strong>: <%= user.local.email %><br>
                                <!-- <strong>password</strong>: <%= //user.local.password %> -->
                                <p>Change password ? <a href="/changepw"> Click here</a></p>
                            </p>
                        <% } else { %>
                            <a href="/login" class="btn btn-info" id="padding">Connect Local</a>
                        <% } %>
                    </div>
                </div>

                <!-- GOOGLE INFORMATION -->
                <div class="col-sm-6" id="cadre">
                    <div class="well">
                        <h3><span class="fab fa-google"></span> Google</h3>

                        <% if (user.google.id) { %>
                            <p>
                                <strong>id</strong>: <%= user.google.id %><br>
                                <strong>email</strong>: <%= user.google.email %><br>
                                <strong>name</strong>: <%= user.google.name %>
                            </p>

                            <a href="/unlink/google" class="btn btn-danger" id="padding">Unlink</a>
                        <% } else { %>
                            <a href="/connect/google" class="btn btn-danger" id="padding">Connect Google</a>
                        <% } %>
                    </div>
                </div>

                <!-- DISCORD INFORMATION -->
                <div class="col-sm-6" id="cadre">
                    <div class="well">
                        <h3><span class="fab fa-discord"></span> Discord</h3>

                        <% if (user.discord.id) { %>
                            <p>
                                <strong>id</strong>: <%= user.discord.id %><br>    
                                <strong>email</strong>: <%= user.discord.email %><br>
                                <strong>username</strong>: <%= user.discord.username %><br>
                            </p>

                            <a href="/unlink/discord" class="btn btn-primary" id="padding">Unlink</a>
                        <% } else { %>
                            <a href="/connect/discord" class="btn btn-primary" id="padding">Connect Discord</a>
                        <% } %>
                    </div>
                </div>

                <!-- GITHUB INFORMATION -->
                <div class="col-sm-6" id="cadre">
                    <div class="well">
                        <h3><span class="fab fa-github"></span> GitHub</h3>

                        <% if (user.github.id) { %>
                            <p>
                                <strong>id</strong>: <%= user.github.id %><br>
                                <strong>username</strong>: <%= user.github.username %><br>
                            </p>

                            <a href="/unlink/github" class="btn btn-dark" id="padding">Unlink</a>
                        <% } else { %>
                            <a href="/connect/github" class="btn btn-dark" id="padding">Connect GitHub</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>